:host {
  //display: flex;
  .clubs {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .name {
      position: absolute;
      color:#d4a50d;
      font-size: 2.5em;
      top:15vh;
      text-align: center;
    }
  }

  .om-content {
    background:  linear-gradient(to bottom,#043e63 0,#43b3d8 100%) ;
    .logo {
      width: 230px;
    }
  }

  .monaco-content {
    background:  linear-gradient(to bottom,#7b030d 0,#c71b20 100%) ;
    left: 50%;
    .logo {
      width: 200px;
    }
  }
}

.generate {
  position: sticky;
  color: white;
  text-align: center;
  margin: 6vh auto 0;
  background:linear-gradient(to bottom, gray, 50%, lightgrey);
  width: 150px;
  padding: 5px;
  &:hover {
    cursor:pointer;
  }
}
