@import "shared";

* {
  margin: 0;
  font-size: 15px;
  overflow-x: hidden;
}

body {
}

h1, h2, h3 {
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

:focus, :hover, :visited {
  outline:none;
  text-decoration: none;
}

.dno {
  display:none !important;
}

.dbl {
  display:block !important;;
}

.df {
  display:flex !important;;
}

.offset {
  margin-top: 65px;
}
