.notfound {
  height: 100vh;
  background-size: cover !important;
  .txt {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 3em;
    }
    .back {
      font-size: 1.5em;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
