<form [formGroup]="myForm" (submit)="verifyData()">
  <label>
    Nom :
    <input type="text" formControlName="nom">
  </label>

  <label>
    Prénom :
    <input type="text" formControlName="prenom">
  </label>

  <label>
    Pays :
    <input type="text" formControlName="pays">
  </label>

  <label>
    Club :
    <input type="text" formControlName="club">
  </label>

  <input type="submit" value="Ajouter">
</form>

<div>
  <div style="color:red; border:1px red solid; padding: 5px;" *ngIf="required === false">
    Les noms, prénoms et pays du joueur sont à complétés.
  </div>
</div>
